body{
 overflow-x: hidden;
 width: auto;
}
.list_menu{
  padding-right: 3em !important;
}
.no-mg{
  margin-right: 0;
}
.no-pad{
  padding-right: 0;
  padding-left: 0;
}
.logo{
  width: 80%;
  padding-left: 2em;
}
.user-icon{
  width: 60%;
  padding-left: 40%;
}
.btn-login{
  background-color: #F7B617;
  margin-left: 10em;
  color: #ffff;
}
.boton-register{
  background-color: #000;
  color: #ffff;
  text-align: center;
  padding: 0.1em;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
  -webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;

}
.hero{
  background-image: url(../images/taxi.jpg);
  background-size: cover;
  background-position: bottom;
}
.box_register{
  background-color: #F7B617;
  margin-top: 10em;
  margin-bottom: 20em;
  padding: 1em 0 2em 2em;
}
.white-logo{
  width: 5em;
  padding-top: 1.8em;
}
h2, p, h3{
  color: #fff;
}
.line::after {
  content: " ";
  display: inline-block;
  width: 5em;
  height: 0.05em;
  background-color: #FFFFFF;
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 10%;
}
.line::before{
  content: " ";
  display: inline-block;
  width: 5em;
  height: 0.05em;
  background-color: #FFFFFF;
  margin-top: 1%;
  margin-right: 10%;
}
.phone{
  background-color: #F7B617;
  padding: 2em 0 2em 2em;
}
.boxPhone{
  border-top: 0.1em solid #fff;
  border-bottom: 0.1em solid #fff;
  border-right: 0.1em solid #fff;
  padding: 2em 0 2em 0;
}
.iPhone{
  width: 70%;
}
.paragraphPhone{
  font-size: 1.2em;
}
.paragraph{
  padding-top: 1em;
}
.registry{
  background-image: url(../images/conduce.jpg);
  background-size: cover;
  background-position: center;
}
.box_conductor{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  padding: 7em 2em 8em 3em;
}
.boton{
  background-color: #F7B617;
  color: #ffff;
}
.rates{
  background-color: #F7B617;
  padding: 2em;
}
.box-rates{
  padding-top: 1em;
  padding-bottom: 1em;
}
.icon{
  padding-right: 1em;
}
input[type=text]{
  padding-left: 1em;
  width: 15em;
  color: #fff;
  line-height: 2em;
  border: 0.1em solid #fff;
  background-color: #F7B617;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
  -webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
 }
 input[type=text]:focus {
   outline: none;
   border: 0.1em solid #fff;
 }
 .boton2{
   margin-top: 2em;
   color: #000;
   font-weight: bold;
   background-color: #FFFFFF;
   margin-bottom: 2em;
 }
 .mapa{
   padding: 0.5em;
   border: 0.05em solid #fff;
 }
.map{
  width:100%;
  height: 26em;
  background: #ffff;
}
footer{
  background-color: #2B2B2B;
  padding-top: 6em;
  padding-bottom: 5em;
}
.logo-footer{
  width: 8em;
}
.footer1 {
  float: left;
  list-style: none;
  text-align: left;
}
.footer1 li a{
  text-decoration: none;
  line-height: 3em;
  color: white;
}
.footer1 li a:hover{
  line-height: 3em;
  color: #F7B617;
  text-decoration: underline;
}
.icon-footer{
  color: #FFFF;
  padding-top: 20em;
}
.logo-app{
  width: 10em;
  padding-top: 13em;
  padding-bottom: 2em;
}
.logo-app2{
  width: 10em;
}
