@media (max-width:450px){
  .white-logo{
    padding-top: 0;
  }
  .boxPhone{
    border: 0.1em solid #fff;
    padding: 1em;
    text-align: center;
  }
  footer{
    padding-top: 0.5em;
    padding-bottom: 0;
  }
  .footer1{
    padding-left: 0;
  }
  .icon-footer{
    padding-top: 0;
    padding-bottom: 2em;
  }
  .logo-app{
    padding-top: 0;
    padding-bottom: 2em;
  }
